body {
	margin: 0;
	padding: 0;
}

#editor-container {
	position: absolute;
	height: 100%;
	width: 400px;
}

#editor { 
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#console-container {
	position: absolute;
	left: 405px;
	top: 0;
	height: 100%;	
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
